<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824503692035-gmi4f062ik5j4jt3m9eck5m8rra3uqnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824503692035-gmi4f062ik5j4jt3m9eck5m8rra3uqnc</string>
	<key>API_KEY</key>
	<string>AIzaSyCxfXmEAQzb9bYLpiaSBgz2c4IvMFhfAVs</string>
	<key>GCM_SENDER_ID</key>
	<string>824503692035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotcoder.greenTaxi</string>
	<key>PROJECT_ID</key>
	<string>green-taxi-017</string>
	<key>STORAGE_BUCKET</key>
	<string>green-taxi-017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824503692035:ios:af5ade258f40ba77c41736</string>
</dict>
</plist>